/* ---------------------------------------------------- */  
/* GLOBAL 
/* ---------------------------------------------------- */  
body {  
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	color: #303030; 
	margin: 0;
}  
#header,
button,
#robot-body,
body h2 {
	font-family: Cambria, Georgia, serif;
}
#nav,
button,
body h2 {
	margin: 0 1%;
}
h2 {
	padding: 30px 0;
}
p {
	margin: 0 0 10px 0;
}
#header,
#main {
	padding: 30px 0;
}
#header-wrapper,
#main-wrapper {
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.4em;  
}
a {
	text-decoration: none;
	color: steelblue;
	font-weight: bold;
}
a:hover {
	color: #225D8E;
	border-bottom: 2px solid #68093D;
}
/* ---------------------------------------------------- */  
/* HEADER
/* ---------------------------------------------------- */  
#header {
	box-shadow: 0 2px 4px lightgrey;
}
#header-wrapper {
	text-align: center;
	font-size: 17px;
}
#header ul li {
	display: inline;
	padding-right: 12px;
}
@media screen and (max-width: 400px) {
	#header ul li {
		width: 97%;
	}
}
/* ---------------------------------------------------- */  
/* SLIDESHOW 
/* ---------------------------------------------------- */  
#slideshow {  
	width: 100%;  
}  
#slideshow ul {  
	margin: 0;  
	padding: 0;  
	list-style-type: none;  
	height: 1%; /* IE fix */
}
#slideshow ul:after {  
	content: ".";  
	clear: both;  
	display: block;  
	height: 0;  
	visibility: hidden;
}
/* ---------------------------------------------------- */  
/* SLIDESHOW > SLIDES 
/* ---------------------------------------------------- */  
#slideshow .slides {  
	overflow: hidden;  
	width: 100%;
	height: 400px;
}
#slideshow .slides ul {  
	width: 400%;
	float: left;
}
#slideshow .slides li {  
	width: 25%;
	float: left;  
}
#slideshow .slides h2 {  
	margin-top: 0;
}
/* ---------------------------------------------------- */  
/* TIC-TAC-TOE GAMEBOARD
/* ---------------------------------------------------- */  
#game-title {
	height: 100px;
}
#game-title,
#game-title button {
	text-transform: uppercase;
}
button {
	width:30%;
	border: 0;
	padding: 10px ;
	float: left;
	cursor: pointer;
	background: #225D8E;
	color: white;
	font-weight: bold;
}
#game-robot {
	width: 40%;
	float: left;
}
#robot-message {
	width: 70%;
	padding: 3% 5%;
	margin: 10%;
	border-radius: 10px;
	background: white;
	box-shadow: 0 2px 2px 2px lightgrey;
}
#robot-message:after {
	z-index: 1;
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
	background: white;
	box-shadow: 3px 3px 2px -1px lightgrey;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#robot-head {
	width: 20%;
	height: 65px;
	margin: 1px 40%;
	background: grey;
}
#robot-head .eye {
	float: left;
	width: 3%;
	height: 5px;
	margin-left: 31%;
	margin-top: 20px;
	background: white;
}
#robot-head .mouth {
	float: left;
	width: 60%;
	height: 5px;
	margin: 15px 20%;
	background: white;
}
#robot-body {
	width: 50%;
	height: 200px;
	margin: 0 25%;
	background: grey;

}
.robot-arm {
	float: left;
	width: 19%;
	height: 100px;
	background: grey;
}
#arm-1  {
	margin-left: -20%;
}
#arm-1.arm-up {
	margin-top: -25%;
}
#arm-1.arm-down {
	margin-top: 0.5%;
}
#arm-2 {
	margin-left: 101%;
}
#arm-2.arm-up {
	margin-top: -108%;
}
#arm-2.arm-down {
	margin-top: -83%;
}
#robot-record-wrapper {
	float: left;
	width: 60%;
	height: 76%;
	margin: 10% 20%;
	color: white;
}
.robot-stats {
	float: left;
	width: 100%;
}
#game-board {
	display: none;
	width: 60%;
	float: right;
	margin-top: 30px;
} 
@media screen and (max-width: 768px) {
	#nav {
		display: none;
	}
	#game-robot,
	#game-board {
		width: 100%;
	}
	#robot-message {
		float: left;
		width: 30%;
		padding: 3% 5%;
		margin: 20px 5%;
	}
	#robot-message:after {
		box-shadow: 3px -3px 3px -1px lightgrey;
		left: 43%;
		top: 203px;
	}
	#robot {
		float: left;
		width: 40%;
		margin: 20px 5%;
	}
	#robot-head {
		width: 40%;
	}
	#robot-body {
		display: none;
	}
	button {
		width: 48%;
	}
}
@media screen and (max-width: 400px) {
	#robot-message:after {
		box-shadow: 3px -3px 3px -1px lightgrey;
		left: 41%;
		top: 203px;
	}
}
.pos {
	float: left;
	width: 33%;
	height: 40px;
	padding-top: 10px;
	background: white;
	font-size: 50px;
	text-align: center;
	color: gray;
}
.pos:hover {
	background: #C3D4E0;
	cursor: pointer;
}
.pos.player {
	color: #225D8E;
}
.pos.ai {
	color: #68093D;
}
.pos.ai:hover,
.pos.player:hover {
	background: white;
	cursor: default;
}
.row-0,
.row-1 {
	border-bottom: 1px solid #c2c2c2;
}
.col-0,
.col-1 {
	border-right: 1px solid #c2c2c2;
}
